<br>
<br>
<div class="container" width="device-width">
    <div class="row">
    <div class="col-md-10">
    <h2 class="desc_heading" style="color: #111D5E; font-weight: bold;">Chèque Soutien à la digitalisation </h2>
   </div>
    <div class="col-sm-2">
    <img src="assets/cpnimages/regions/grandest.png"  alt="">

    </div>
    </div>



    <br>
    <h2 class="desc_heading" style="color: #111D5E;font-weight: bold;">Dispositif </h2>

    <ul class="list-group">  <h5 style="color: #111D5E;">Via des prestataires labellisés par la Région Grand-Est, les entreprises peuvent bénéficier d'une aide à la digitalisation. Cette aide permet aux
        entreprises : </h5>
        <li>D’optimiser leur organisation.</li> <br>
        <li>D’adapter le design de l’offre. </li> <br>
        <li>De déployer une stratégie de commercialisation et de communication</li>
    </ul>
    <br>

  
    <h3 style="color: #111D5E;font-weight: bold;">Conditions d’attributions</h3>
    <br>
    <h3 style="color: red;font-weight: bold;">A qui s’adresse ce dispositif ?</h3>
    <br>
   <p>Entreprises éligibles</p> <br>
   <p>Les entreprises du territoire de la Région Grand Est.
</p>
<br>
<h3 style="color: #111D5E;font-weight: bold;">Montant de l’aide</h3>
<br>
<h3 style="color: red;font-weight: bold;">De quel type d’aide s’agit-il ?</h3>
<br>
        <ul class="list-group"> <h6 style="color: #111D5E;">L'aide prend la forme d'un chèque pouvant aller de 1 000 à 6 000 € d’aide à la digitalisation :</h6>
        <li>3 000 € au maximum en soutien à l’accompagnement à la digitalisation.</li> <br>
        <li>3 000 € au maximum en soutien à l’investissement</li>
    </ul>
    <br>
    <h2 style="color: #111D5E;font-weight: bold;">Informations pratiques</h2>
<br>
<h2 style="color: red;font-weight: bold;">Quelles sont les démarches à suivre ?</h2>

    <br>
   
    <p>Auprès de quel organisme</p> <br>
    <p>La Région Grand Est en partenariat avec la CRCI et la CRMA, déploiera une solution régionale de prise de rendez-vous en ligne à disposition de tous
        les commerçants et les artisans du territoire, afin de faciliter leur transition vers le e-commerce.</p>
  <br> 
  
        <div class="btn_post d-flex justify-content-center">
                    <button type="submit" style="text-decoration:auto ;  border: none; background: red;border-radius: 25px;color: white;padding: 5px 15px;">Testez votre éligibilité</button>
                </div>


