

<br>
<br>
<div class="container" width="device-width">
    <div class="row">
    <div class="col-md-10">
  
   </div>
    <div class="col-sm-2">
    <img src="assets/cpnimages/regions/guadeloupe.png"  alt="">
    </div>
    </div>
    
    <h2 class="desc_heading" style="color: #111D5E;font-weight: bold;">Dispositif </h2>
    <p style="color: #111D5E;">Suite aux nouvelles mesures sanitaire, la Région Nouvelle-Aquitaine soutient ses artisans et ses commerçants dans leur transformation numérique et
        met en place un chèque E-commerce.  </p>
        <p style="color: #111D5E;">En effet, le chèque E-commerce vise à améliorer le développement commercial, la relation client et optimise la combinaison du e-commerce avec
            l’espace physique de vente.
            Un diagnostic e-commerce au préalable vous sera soumis.   </p>

            <br>
            <ul class="list-group">  <h5 style="color: #111D5E;">Ce dispositif a pour objectifs</h5>
                <li>Améliorer la visibilité en ligne : Référencement, E-réputation, Marketing Digital, Site Web Vitrine. </li> <br>
                <li>Développer le e-commerce : Commande en ligne, “Click and collect”, Paiement en ligne, Site E-commerce, Places de marché, Numérisation
                    du catalogue produits, Mise en valeur de ces produits. </li> <br>
                <li>Optimiser la gestion des stocks et de la logistique : caisse connectée, étiquettes intelligentes, base de données en temps réel des stocks,
                    optimisation des flux logistiques. </li> <br>
                    <li>Développer la relation client : Amélioration de la relation client ; stratégie de fidélisation ; acquisition de nouveaux clients ; enrichissement
                        de l’expérience client par le numérique (Réalité virtuelle/Réalité Augmentée), prise de commande par tablette…)</li> <br>
                        <li>Accroitre la performance commerciale : stratégie/plan de communication, stratégie omnicanal…</li>
            </ul>

            <br>
    <h2 style="font-weight: bold;color: #111D5E;">Conditions d'attributions</h2>
<br>
    <h3 style="color: red;font-weight: bold;">A qui s'adresse ce dispositif?</h3>
    <br>
  
   
    
    <ul class="list-group">  <h5 style="color: #111D5E;">Les entreprises doivent répondre aux conditions suivantes : </h5>
        <li>Avoir leur siège social ou leur établissement sur le territoire du Nouvelle-Aquitain. </li> <br>
        <li>Être immatriculées au Répertoire des Métiers et/ou Registre du Commerce et des Sociétés, dont les entreprises relevant d’une activité
            métiers d’art telle que définie dans l’arrêté du 24 décembre 2015 ou entreprises ayant un savoir-faire d’excellence reconnu (labels EPV Entreprise du
            Patrimoine Vivant, OFG Origine France Garantie, IGIA Indications Géographiques Industrielles et artisanales). </li> <br>
        <li>Avoir un effectif de moins de 10 salariés au 01/11/2020 (Référence code de la sécurité sociale) en ETP.</li> <br>
        <li>Être à jour de leurs déclarations et paiements et charges sociales et fiscales au 31/10/2020 (tenant compte des reports exceptionnels
            accordés par l’Etat dans le cadre de la crise COVID 19), à l’exception de celles bénéficiant d’un plan de règlement.
            </li>
    </ul>
    <br>
    <h3 style="color: red;font-weight: bold;">Pour quel projet ?</h3>
    <br>
    
    <ul class="list-group">   <h5 style="color: #111D5E;">Les investissements pour les entreprises éligibles sont les suivants : </h5>
        <li> Les prestations de conseils et de services (AMOA assistance à maitrise d’ouvrage, photographe, agence web, Community Management,
            agence de conseil digitale…). </li> <br>
        <li>Les frais de formation. </li> <br>
        <li>Les frais de développement (site web, application, …). </li> <br>
        <li>Les frais d’abonnement ou achat de logiciels (ERP, data client, caisse connectée, stock…) ou services e-commerce (click and collect,
            paiement, commande en ligne, service clients, suivi des commandes, fidélisation des clients, logistique…).</li> <br>
        <li>Les investissements matériels nécessaires à la mise en œuvre du projet (tablette, casque VR, balance connectée, douchette…)</li> <br>
        <li>Les frais d’hébergement.</li> <br>
        <li>Les frais de publicité en ligne : référencement .</li> <br>
        <li>La campagne promotionnelle.</li> <br>
        <li>Les frais de marketing digital plafonnés à 5% des dépenses éligibles.</li>
    </ul>
    <br>
    
    <h3 style="color: red;font-weight: bold;">Quelles sont les particularités ?</h3>
    <br>
  
    <ul class="list-group">   <h5 style="color: #111D5E;">Les activités non éligibles sont :  </h5>
        <li> Les commerces d’une surface de vente supérieure à 300 m² (grande distribution et autres enseignes franchisées).  </li>
        <li>Les activités enregistrées avec les codes NAF 01 et 03 (agriculture et pêche).  </li> <br>
        <li>Les secteurs d’activité exclus par les règlements européens. </li> <br>
        <li>Les entreprises en procédure collective d’insolvabilité. </li> <br>
        <li>Les professions libérales réglementées.</li> <br>
        <li>Les professions liées à l’ésotérisme et les activités de bien être non règlementées (Codes NAF 96.04 et 96.09).</li><br>
        <li>Les entreprises intervenant dans les activités immobilières ou de promotion immobilière (Codes NAF 41-1 et ensemble des codes NAF de
            la section L), les activités financières et d’assurance (ensemble des codes NAF de la section K). </li><br>
            <li>Les activités médicales et paramédicales, hors ressortissants CMA (ensemble des codes NAF de la section Q). </li><br>
            <li>Les activités d’enseignement (ensemble des codes NAF de la section P). </li><br>
            <li>Les activités exclusivement proposées en e-commerce. </li><br>
            <li>Les entreprises intervenant dans les activités spécialisées, scientifiques et techniques (ensemble des codes NAF de la section M, à
                l’exception des groupes 70.2 ; 71.2 ; 71.12B ; 72.1 ; 72.2 ; 74.1 ; 74.3 ; 74.9).</li><br>
         
    </ul>
    <br>
    
    <h3 style="color: red;font-weight: bold;">Les dépenses non éligibles
    </h3>
    <h5 style="color: #111D5E;">Les frais d’adhésion à une place de marché ne sont pas éligibles au dispositif. </h5><br>
    <h2 style="color: #111D5E;font-weight: bold;">Montant de l’aide</h2><br>
    <h3 style="color: red;font-weight: bold;">De quel type d’aide s’agit-il ?
    </h3>
    <br>
    <ul class="list-group">   <h5 style="color: #111D5E;">Le chèque E-commerce est octroyé sous forme de subvention de la manière suivante :   </h5>
        <li> Un taux d’intervention de 50% maximum d’investissement.  </li> <br>
        <li>Une subvention plafonnée à 5 000 € .  </li> <br>
        <li>Un plancher d’investissement de 2 000 € H.T  </li> <br>
        <li>Avoir bénéficié d’un accompagnement diagnostic e-commerce de sa chambre consulaire </li>
       </ul><br>
       <h2 style="color: #111D5E;font-weight: bold;">Informations pratiques</h2><br>
       <h4 style="color: #111D5E;">Auprès de quel organisme</h4><br>
       <ul class="list-group">   <h5 style="color: #111D5E;"> La demande d’aide devra être déposée sur une plateforme de dépôt dématérialisée qui sera mise en place par la Région.
        Les 2 étapes à suivre pour déposer la demande :   </h5>
        <li> Etape n°1 : réaliser au préalable un diagnostic e-commerce gratuit de l’entreprise avec un conseiller numérique des réseaux consulaires CCI
            ou CMA de Nouvelle Aquitaine, pour ce faire, remplir <span style="color: #00BFFF;"> le test d’éligibilité</span> afin d’être recontacté(e) par un conseiller numérique consulaire.  </li> <br>
        <li>Etape 2 : une fois le diagnostic réalisé, déposer le dossier en ligne auprès de la Région Nouvelle-Aquitaine sur une plateforme de dépôt
            dématérialisée qui sera mise en place par la Région.  </li>
       </ul><br>
       <h4 style="color: #111D5E;">Éléments à prévoir</h4><br>
       <ul class="list-group">   <h5 style="color: #111D5E;">Les documents à joindre aux dossiers sont :  </h5>
        <li> Le diagnostic E-commerce (réalisé au préalable par le réseau consulaire CCI ou CMA)   </li> <br>
        <li>RIB  </li><br>
        <li>KBis ou Extrait d’immatriculation D1 </li> <br>
        <li>Devis</li>
       </ul><br>
       <h2 style="color: #111D5E;font-weight: bold;">Critères complémentaires</h2><br>
       <h3 style="color: red;font-weight: bold;">Forme juridique
    </h3><br>
    <h4 style="color: #111D5E;font-weight: bold;">Ne sont pas éligibles au dispositif, les professions libérales réglementées.
    </h4> <br>
   
