

<br>
<br>
<div class="container" width="device-width">
    <div class="row">
    <div class="col-md-10">
  
   </div>
    <div class="col-sm-2">
    <img src="assets/cpnimages/regions/ile-de-france.png" height="100%" width="100%"  alt="">
    </div>
    </div>
    <br>
    <h2 class="desc_heading" style="color: #111D5E;font-weight: bold;">Chèque commerce connecté </h2>
    <h3 class="desc_heading" style="color: #111D5E;font-weight: bold;">Dispositif </h3>
   

            <br>
            <ul class="list-group">  <h5 style="color: #111D5E;"> Le dispositif a pour objectif de maintenir et de développer l’activité des artisans et commerçants de proximité grâce au digital et intervient sur trois
                volets : </h5>
                <br>
                <li>Améliorer sa gestion digitale </li> <br>
                <li>Générer un flux dans sa boutique grâce au Marketing Digital  </li> <br>
                <li>Booster ses ventes grâce au e-commerce </li>
                    
            </ul>

            <br>
    <h2 style="font-weight: bold;color: #111D5E;">A qui s’adresse le dispositif ?
    </h2>
<br>
  
    
    <ul class="list-group">  <h2 style="color: red;font-weight: bold;">Peuvent bénéficier du dispositif :</h2>
        <li>Les entreprises indépendantes, commerçants de proximité ou artisans, qui gèrent de façon autonome un point de vente fixe (hors
            franchise) . </li> <br>
        <li>Ayant leur établissement en Île-de-France </li> <br>
        <li>Avec un effectif inférieur à 10 salariés, y compris les entreprises sans salariés </li> <br>
        <li>Inscrits au Registre du Commerce et/ou Registre des Métiers </li>
    </ul>
    <br>
    <h2 style="color: red;font-weight: bold;">Dépenses concernées    </h2>
    <br>

    <ul class="list-group">   <h5 style="color: #111D5E;">L’aide concerne les dépenses de fonctionnement (inscrites dans les charges de l’entreprise) :     </h5>
        <li> Solutions digitales de gestion (logiciel de caisse, gestion des stocks, gestion clientèle…) sous forme d’abonnement </li>
        <li>Dépenses de publicité digitale, solutions de fidélisation </li> <br>
        <li>Solutions de géolocalisation, frais de référencement, achat de mots clés, statistiques d’audience </li> <br>
        <li>Réservation de nom de domaine, frais d’hébergement </li> <br>
        <li>Abonnement à un logiciel de création de site en SaaS, frais d’optimisation </li> <br>
        <li>Abonnement ou commission sur les ventes liés à une solution digitale visant à développer les ventes (plateforme en ligne, marketplace,
            click and collect, etc.). </li>
        
    </ul>
    <p style="color: #111D5E;">L’aide concerne également les dépenses en investissement (inscrites à l’actif de l’entreprise) pour le développement, la réalisation et l’acquisition de
        site internet. </p>
    <br>
    


    <h2 style="color: red;font-weight: bold;">Quelles sont les particularités ?</h2>
    <br>
    
   <h4 style="color: #111D5E;">Entreprises non-éligibles  </h4>
   <br>
   <p style="color: #111D5E;">Les entreprises de la filière numérique, les professions réglementées et libérales, les activités financières et immobilières, les organismes de
    formation, de conseil et les bureaux d’études ne sont pas éligibles.  </p>
       
    <br>
   


    <h3 style="color: #111D5E;font-weight: bold;">Montant de l’aide
    </h3>
    <br>
    <h3 style="color: red;font-weight: bold;">Quel est le type d’aide ?
    </h3><br>
    
   
    <p style="color: #111D5E;">Le chèque numérique est une aide sous forme de subvention pouvant aller jusqu’à 1 500 €.</p>
    <ul class="list-group">   <h5 style="color: #111D5E;">Le montant du chèque dépendra du montant des dépenses éligibles :    </h5>
        <li>À partir de 300 €, le montant du chèque est de 150 €  </li> <br>
        <li>À partir de 600 €, le montant du chèque est de 300 €  </li> <br>
        <li>À partir de 600 €, le montant du chèque est de 300 €   </li><br>
        <li>À partir de 1 200 €, le montant du chèque est de 600 € </li><br>
        <li>À partir de 1 500 €, le montant du chèque est de 750 €  </li><br>
        <li>À partir de 1 800 €, le montant du chèque est de 900 € </li><br>
         <li>À partir de 2 100 €, le montant du chèque est de 1 050 €  </li><br>
         <li>À partir de 2 400 €, le montant du chèque est de 1 200 €  </li><br>
         <li>À partir de 2 700 €, le montant du chèque est de 1 350 € </li><br>
         <li>À partir de 3 000 €, le montant du chèque est de 1 500 € </li><br>
       </ul><br>
       <h2 style="color: #111D5E;font-weight: bold;">Informations pratiques</h2><br>
       <h3 style="color: red;font-weight: bold;">Quelle démarche à suivre ?</h3><br>
       <h4 style="color: #111D5E;">Auprès de quel organisme ?</h4> <br>
       <p style="color: #111D5E;"> Les dépôts des demandes d’aide seront en ligne sur mes démarches. 
       </p>
       <ul class="list-group">   <h5 style="color: #111D5E;"> Après examen de votre demande, un avis de décision vous sera transmis dans un délai de 3 semaines.
        Éléments à prévoir et pièces à fournir pour la demande d’aide :  </h5>
        <li>Un extrait Kbis ou D1   </li> <br>
        <li>Une attestation de régularité fiscale et sociale de moins de 3 mois  </li> <br>
        <li>Un RIB </li> <br>
        <li>Les pièces justificatives des dépenses prévisionnelles (devis, grille tarifaire, ou tout document précisant le montant et la nature de la
            dépense envisagée). </li> <br>
        <li>Un rapport de diagnostic de la situation numérique de l’entreprise. Si l’entreprise n’en dispose pas, il est possible de réaliser un autodiagnostique en ligne dédié aux commerçants (CCI) ou dédié aux artisans (CRMA).  </li>
       </ul><br>
       <p style="color: #111D5E;"> Une fois l’avis de décision reçu est positif, l’entreprise peut commencer à engager les dépenses. Elles portent sur une période maximale de 12 mois.
        Avec un délai de réalisation ne dépassant pas les 18 mois. 
    </p> <br>
    <p style="color: #111D5E;"> Pour recevoir la subvention, l’entreprise s’engage à transmettre sa demande de versement avec les factures acquittées (dans un délai maximal ne
        dépassant pas un an après la réception de l’accord). Le versement peut se faire sous la forme d’un paiement unique ou un paiement sur 2 fois.
    </p>
    <br>

       <h4 style="color: #111D5E;">Bénéficiaires</h4><br>
       <ul class="list-group">   <h5 style="color: red;">Accessible si : </h5>
        <li> L’effectif est de moins de 10 salariés.  </li> <br>
        <li>Critères complémentaires  </li> <br>
        <li>Lieu d’immatriculation  </li><br>
        <li>Immatriculation au Registre du Commerce et des Sociétés</li> <br>
        <li>Immatriculation au Répertoire des Métiers</li>
       </ul><br>
       <ul class="list-group">   <h5 style="color: red;">Non accessible si :
    </h5>
        <li> L’activité exercée (APE)  </li> <br>
        <li>4773 – Commerce de détail de produits pharmaceutiques en magasin spécialisé  </li><br>
        <li>4774 – Commerce de détail d’articles médicaux et orthopédiques en magasin spécialisé </li><br>
        <li>4791 – Vente à distance</li><br>
        <li>4932 – Transports de voyageurs par taxis</li><br>
        <li>6312 – Portails internet</li><br>
        <li>641 – Intermédiation monétaire</li><br>
        <li>643 – Fonds de placement et entités financières similaires</li> <br>
        <li>649 – Autres activités des services financiers, hors assurance et caisses de retraite </li><br>
        <li>65 – Assurance</li><br>
        <li>66 – Activités auxiliaires de services financiers et d’assurance </li><br>
        <li>683 – Activités immobilières pour compte de tiers</li><br>
        <li>69 – Activités juridiques et comptables</li><br>
        <li>7120A – Contrôle technique automobile</li><br>
        <li>75 – Activités vétérinaires</li><br>
        <li>86 – Activités pour la santé humaine</li><br>
        <li>871 – Hébergement médicalisé </li><br>
        <li>O – Administration publique</li><br>
        <li>P – Enseignement        </li>
        

       </ul>
     
       <div class="btn_post d-flex justify-content-center">
        <button type="submit" class="btntest" >Testez votre éligibilité</button>
    </div>

   

