<br>
<br>
<div class="container" width="device-width">
    <div class="row">
    <div class="col-md-10">
    <h2 class="desc_heading" style="color: #111D5E; font-weight: bold;">Cheque Booster TPE Numérique
        </h2>
   </div>
    <div class="col-sm-2">
    <img  style="width:100%;"src="assets/cpnimages/regions/hautsdefrance.png"  alt="">

    </div>
    </div>



    <br>
    <h2 class="desc_heading" style="color: #111D5E;font-weight: bold;">Dispositif </h2>

    <p>Dans le cadre du Programme Booster TPE, l’accompagnement Booster performance commerciale permet aux petites entreprises de développer leur
        activité et leur performance commerciale, et ce, afin de faire face à la crise sanitaire et relancer l’activité de l’entreprise. </p>
<br>
<p>Cet accompagnement met en avant des solutions pratiques et rapides à adopter.
</p>
<br>
   

    
 
    <ul class="list-group">  <h5 style="color: #111D5E;">Booster performance commerciale a pour objectifs de : 
    </h5>
        <li>Structurer la stratégie commerciale de l’entreprise. </li> <br>
        <li>Préciser, sécuriser et consolider le projet de développement. </li> <br>
        <li>Augmenter le chiffre d’affaires. </li> <br>
        <li>Transférer des outils, des méthodes et des compétences. </li>
     </ul>
    <p>Dans le cas d’une micro-entreprise, le chiffre d’affaires devra être au minimum de 20 000 € à la date du dépôt dossier. En l’absence de liasse fiscale,
        le bénéficiaire devra alors fournir les 2 derniers comptes de résultat et l’attestation fiscale mentionnant le chiffre d’affaires.
        </p>
    <br>
    <h2 class="desc_heading" style="color: #111D5E;font-weight: bold;">Conditions d’allocations
    </h2>

        <h3 style="color: red;font-weight: bold;">A qui s’adresse ce dispositif ?
        </h3>
        <br>
        <h4 style="color: #111D5E;">Entreprises éligibles 
        </h4>
<p>Cette solution s’adresse aux entreprises du territoire des Hauts-de-France de plus de 3 ans d’existence et de 20 salariés maximum qui souhaitent
    reconquérir leurs clients, trouver de nouveaux débouchés et mettre en place une nouvelle stratégie commerciale. </p>
   <br>
   <p>L’accompagnement Booster performance commerciale est personnalisé et est exécuté par un conseiller CCI, ce qui permettra à l’entreprise de faire
    le point sur ses pratiques et d’être accompagnée dans la mise en œuvre d’actions concrètes avec un objectif de résultats à court et moyen terme. </p>
    <br> 
    <h2 style="color: red;font-weight: bold;">Montant de l’aide</h2>

    <h4 style="color: #111D5E;">De quel type d’aide il s’agit ? 
 
    </h4>
    <br>
<p>C’est un accompagnement d’une valeur de 1 000 € HT entièrement pris en charge (100%) par la Région Hauts-de-France et le FEDER, et ce, afin
    d’accompagner les entreprises du territoire dans la reprise d’activité.</p>
<br>

<h2 style="color: red;font-weight: bold;">Informations pratiques
</h2>
<h4 style="color: #111D5E;">Quelles démarches suivre ? Auprès de quel organisme ? 

</h4>
<br>
<p>L’entreprise doit se joindre à la CCI de son territoire. 
</p>
<br>
<ul class="list-group">  <h5 style="color: #111D5E;">6 autres accompagnements sont proposés dans le cadre du programme Booster TPE : 
</h5>
    <li><a href="" style="color: #00BFFF;">Booster gestion.</a> </li>
    <li><a href="" style="color: #00BFFF;">Booster numérique</a></li>
    <li><a href="" style="color: #00BFFF;">Booster relation client</a> </li>
    <li><a href="" style="color: #00BFFF;">Booster ressources humaines.</a></li>
    <li><a href="" style="color: #00BFFF;">Booster transmission. </a></li>
    <li><a href="" style="color: #00BFFF;">Booster transition écologique.  </a></li>
 </ul>

<br> <br>
    <div class="btn_post d-flex justify-content-center">
                    <button type="submit" style="text-decoration:auto ;  border: none; background: red;border-radius: 25px;color: white;padding: 5px 15px;">Testez votre éligibilité</button>
                </div>