<br>
<br>
<div class="container" width="device-width">
    <div class="row">
    <div class="col-md-10">
    <h2 class="desc_heading" style="color: #111D5E; font-weight: bold;">Chèque Commerce en ligne

        </h2>
   </div>
    <div class="col-sm-2">
    <img  style="width:100%;"src="assets/cpnimages/regions/avergne.png"  alt="">

    </div>
    </div>



    <br>
    <h2 class="desc_heading" style="color: #111D5E;font-weight: bold;">Dispositif </h2>
<br>
    <p>Dans le cadre du reconfinement et ses impacts immédiats sur l’économie de nombreux commerçants et artisans, la Région Auvergne-Rhône-Alpes
        met en place le dispositif "Mon Commerce en ligne" qui va permettre le développement de la vente en ligne (e-commerce) et la présence sur le web
        des artisans et des commerçants.
         </p>
<br>

    <h2 class="desc_heading" style="color: #111D5E;font-weight: bold;">Conditions d’allocations
    </h2>

        <h3 style="color: red;font-weight: bold;">A qui s’adresse ce dispositif ?
        </h3>
        <br>
        <h4 style="color: #111D5E;">Entreprises éligibles 
        </h4>
<p>L'aide s'adresse aux commerçants de proximité, artisans indépendants, avec ou sans point de vente, sédentaires ou non (hors franchise). L’artisan ou
    commerçant de proximité vend des produits ou services de manière quotidienne ou fréquente à des particuliers. Et également aux agriculteurs,
    éleveurs et viticulteurs qui réalisent de la vente aux particuliers </p>
   <br>
  
   <h4 style="color: #111D5E;">Critères d’éligibilité </h4>
<p>L'aide s'adresse aux commerçants de proximité, artisans indépendants, avec ou sans point de vente, sédentaires ou non (hors franchise). L’artisan ou
commerçant de proximité vend des produits ou services de manière quotidienne ou fréquente à des particuliers. Et également aux agriculteurs,
éleveurs et viticulteurs qui réalisent de la vente aux particuliers </p> <br>
<ul class="list-group">  <h4 style="color: #111D5E;">Les entreprises doivent répondre aux critères suivants : 

</h4>
    <li>Avoir leur siège social en Auvergne-Rhône-Alpes.  </li> <br>
    <li>Avoir un effectif de moins de 10 salariés. </li> <br>
    <li>Inscrites au Registre du Commerce et des Sociétés (RCS) ou au Répertoire des Métiers, ou relevant de la liste des entreprises de métiers
        d’art reconnues par l’arrêté du 24 décembre 2015 ou les agriculteurs à titre principal ou secondaire (personnes physiques ayant le statut
        d’agriculteur à la MSA). </li>
    
 </ul>
 <h3 style="color: red;font-weight: bold;">A qui s’adresse ce dispositif ?
</h3>
<br>
<p>Sont éligibles les projets de création, de refonte ou d'optimisation d’un site internet ou d’un site e-commerce et également les projets
    d'optimisation de la présence web. </p> 

    <h4 style="color: #111D5E;">Dépenses concernées </h4>
    <p>Sont éligibles les dépenses réalisées entre le 1er janvier 2020 et le 30 septembre 2022. 
    </p>

    <ul class="list-group">  <h5 style="color: #111D5E;">Les dépenses retenues sont celles inscrites à l'actif de l'entreprise pour le développement, l’optimisation, la réalisation et l'acquisition de site internet
        et celles inscrites dans les charges de l'entreprise comme notamment : 
    </h5>
        <li>Les dépenses de publicité digitale, solutions de fidélisation (achat publicitaire, carte fidélité, envoi sms et newsletter, …)  </li> <br>
        <li>Les frais de référencement, achat de mots clé, stratégie de présence sur les réseaux sociaux.  </li> <br>
        <li>L'achat de nom de domaine.  </li> <br>
        <li>Les frais d’hébergement, géolocalisation de l’entreprise.  </li> <br>
        <li>L'abonnement à un logiciel de création de site en SaaS.  </li> <br>
        <li>Les frais d’optimisation et de formation.   </li> <br>
        <li>Les solutions digitales pour booster les ventes en ligne (livraison à domicile, Marketplace, click and collect, mise en place d’application de
            vente en ligne, ….)</li>
     </ul>
     <br>
     <h2 style="color: red;font-weight: bold;">Quelles sont les particularités ? </h2>

     <h4 style="color: #111D5E;">Entreprises inéligibles  </h4> <br>
<p>Sont exclues de ce dispositif les professions libérales.
</p>













<h2 style="color: #111D5E;font-weight: bold;">Montant de l’aide</h2>
<br>
    <h3 style="color: red;">De quel type d’aide il s’agit ? </h3>
    <br>
    <ul class="list-group">  <h5 style="color: #111D5E">L'aide est de 1 500 € maximum, selon deux modalités : 

    </h5>
        <li>Jusqu’à 500 € de dépenses éligibles : prise en charge à 100 %</li>
        <li>Au-delà de 500 € de dépenses éligibles : prise en charge à 50% des dépenses jusqu’à une aide maximum de 1 500 €</li>
       
     </ul>

     <h3 style="color: #111D5E;font-weight: bold;">Informations pratiques
    </h3>
     <br>
         <h3 style="color: red;">Quelles sont les démarches à suivre ?
        </h3>

        <h4 style="color: #111D5E;">Auprès de quel organisme 
        </h4> <br>
        <p>Pour toute information : digital@auvergnerhonealpes.fr.  </p>
        <p>Les entreprises font la demande en ligne sur le Portail des Aides de la Région. Seuls les dossiers complets pourront être présentés. 
        </p> <br>
        <h4 style="color: #111D5E;">Éléments à prévoir </h4>
<br>
        <p>Pour toute information : digital@auvergnerhonealpes.fr.  </p>
        <p>Les entreprises font la demande en ligne sur le Portail des Aides de la Région. Seuls les dossiers complets pourront être présentés. 
        </p> <br>
 <ul class="list-group"> <span style="color: #111D5E;">Les pièces à transmettre au dossier sont : </span> 
        <li>Un extrait Kbis</li>
        <li>Un RIB.</li> <br>
        <li>Les factures acquittées (à compter du 01/01/2020). </li> <br>
       <li>L'attestation sur l’honneur (garantissant que le demandeur n’a pas touché de subvention de l’Etat sur le projet, la région se réservant le
        droit d’émettre un titre en cas de double financement).</li> <br>
        <li>L'annexe de communication (avec, si création/amélioration d’un site, copie d’écran du site avec les références de la région)</li>
     </ul>
 <br>
     <h3 style="color: #111D5E;font-weight: bold;">Critères complémentaires

    </h3>
     <br>
         <h3 style="color: red;">Forme juridique
</h3>
<br>
<ul class="list-group"><span style="color: #111D5E;">Entreprise Individuelle  </span>  
 
    <li>Artisan  </li> <br>
    </ul>
    <h3 style="color: red;">Données supplémentaires

    </h3>
    <ul class="list-group">  <span style="color: #111D5E;">Situation - Réglementation </span>  
  <li>A jour des versements fiscaux et sociaux </li>
        </ul>
    
<br> 
    <div class="btn_post d-flex justify-content-center">
                    <button type="submit" style="text-decoration:auto ;  border: none; background: red;border-radius: 25px;color: white;padding: 5px 15px;">Testez votre éligibilité</button>
                </div>