<br>
<br>
<div class="container" width="device-width">
    <div class="row">
    <div class="col-md-10">
    <h2 class="desc_heading" style="color: #111D5E; font-weight: bold;">Chèque Investissement numérique -
        PDLIN
        </h2>
   </div>
    <div class="col-sm-2">
    <img  style="width:100%;"src="assets/cpnimages/regions/payedeloire.png"  alt="">

    </div>
    </div>



    <br>
    <h2 class="desc_heading" style="color: #111D5E;font-weight: bold;">Dispositif </h2>

    <p>Le dispositif Pays de la Loire Investissement Numérique vise à aider les petites entreprises dans l’acquisition et l’appropriation d’outils numériques à
        forte valeur ajoutée.</p>
<br>
    <h1 style="font-weight: bold;color: #111D5E;">Conditions d'attributions</h1>
<br>
    <h2 style="color: red;font-weight: bold;">A qui s'adresse ce dispositif?</h2>
    <br>

    <h5 style="color: #111D5E;">Entreprises éligibles</h5>
    <br>
    <p>Pays de la Loire Investissement numérique s'adresse aux entreprises qui souhaitent franchir un pas significatif dans la transition numérique en se
        dotant d’outils modifiant leur mode de fonctionnement. Les acquisitions doivent contribuer à la création d’une chaine numérique globale
        permettant de gagner en productivité et créer de la valeur</p>

       <br>
       <h5  style="color: #111D5E;">Critères d’éligibilité</h5> <br>
    <ul class="list-group">  <h5 style="color: #111D5E;">Les entreprises doivent répondre aux critères suivants : </h5>
        <li>Avoir moins de 50 salariés qui répondent à la définition communautaire de la PME à la date du dépôt du dossier.</li> <br>
        <li>Créées depuis plus de 2 ans à la date du dépôt du dossie</li><br>
        <li>Ayant un chiffre d’affaires n’excédant pas 10 M€. </li> <br>
        <li>Implantées dans la région Pays de la Loire (siège social, filiale, établissement), sous réserve que l’investissement envisagé concerne
            directement ladite implantation. </li> <br>
        <li>Être à jour de leurs obligations fiscales, sociales, environnementales et sanitaires. </li> <br>
        <li>Ne pas être en difficulté. </li>

    </ul>
    <br>
    <p>Dans le cas d’une micro-entreprise, le chiffre d’affaires devra être au minimum de 20 000 € à la date du dépôt dossier. En l’absence de liasse fiscale,
        le bénéficiaire devra alors fournir les 2 derniers comptes de résultat et l’attestation fiscale mentionnant le chiffre d’affaires.
        </p>
    <br>
    
        <h3 style="color: red;font-weight: bold;">Pour quel projet ?</h3>
        <br>
        <h5 style="color: #111D5E;">Présentation des projets</h5>

    <ul class="list-group">   <h5 style="color: #111D5E;">Sont retenus les investissements suivants : 
    </h5>
        <li> De progiciels (exemples : progiciel de gestion (ERP/PGI), progiciel de gestion commerciale ou de la relation client (CRM/GRC), progiciel de
            gestion et contrôle de la production GPAO/PMI), progiciel de gestion de la conception/fabrication (CAO/FAO), progiciel de modélisation ou
            numérisation 3D (BIM/ CAO ou FAO 3D), progiciel Transport (TMS/FMS), progiciel de réalité augmentée), </li> <br>
        <li>De logiciel de gestion et/ou d'archivage électronique des documents (GED). </li> <br>
        <li>De création ou refonte complète d'un site web marchand/e-commerce (site internet permettent d'acheter en ligne un bien ou un service.
            Exemples : boutique en ligne, portail de vente client)</li> <br>
        <li>De logiciel ou application métier (logiciel développé selon le cahier des charges définit par l’entreprise et répondant à un besoin spécifique
            non couvert par les progiciels génériques). </li> <br>
        <li>D'applications mobiles personnalisées (exemples : suivi des chantiers/activités, gestion commerciale, mobilité, gestion des ressources
            humaines).</li> <br>
            <li>D'outil de travail collaboratif structurant T (exemples : communication collaborative (intranet), collaboration de projets (logiciel de gestion
                de projet global), plateforme collaborative d’échanges). </li> <br>
                <li>De logiciel de sécurité informatiques s'inscrivant dans une démarche de cybersécurité. </li> <br>
    </ul>
    <br>
    <h4 style="color: #111D5E;">Dépenses concernées 
    </h4>
    <p>Les dépenses associées seront éligibles si les investissements listés ci-dessus s’intègrent dans le même dossier de demande de subvention. 
    </p>
    <br>
    <ul class="list-group">  <h5 style="color: #111D5E;">==> Licences</h5>
        <li>Achat de licences et/ou logiciels, </li> <br>
        <li>Achat de modules/extensions, </li> <br>
        <li>Abonnement logiciel et/ou module sur un an, </li> <br>
        <li>Licences serveur ou abonnement licences sur un an en lien avec l’acquisition numérique (sécurisation du système informatique)</li> <br>
        <li>formation</li> <br>
        <li>Investissement matériels</li>

    </ul>
    <br>
    <ul class="list-group">  <h5 style="color: #111D5E;">==> Contrats </h5>
        <li>Contrat de maintenance sur un an, </li> <br>
        <li>Contrat d’assistance sur un an.  </li>
        </ul>
    <br>
   
    <ul class="list-group">  <h5 style="color: #111D5E;">==> Services </h5>
        <li>Formation (montant restant non pris en charge par un OPCO),  </li>
        <li>Installation,  </li><br>
        <li>Paramétrage (incluant interconnexions des outils, adaptation, personnalisation),   </li> <br>
        <li>Intégration (phase de test/migration/reprise des données),   </li> <br>
        <li>Sécurisation des données,   </li> <br>
        <li>Suivi technique du projet.   </li>
        </ul>
        <br>
        <ul class="list-group">  <h5 style="color: #111D5E;">==> Investissements liés à la création du site internet e-commerce  </h5>
            <li>Conception graphique partie e-commerce uniquement, </li> <br>
            <li>Connecteurs entre logiciels (ex : ERP) et site e-commerce.   </li> <br>
            <li>Logiciel d’analyse et/ou de mesure statistiques du site. 
            </li> <br>
            <li>Création d’un extranet et/ou intranet e-commerce.    </li> <br>
            <li>Système de sécurisation des paiements en ligne.   </li> <br>
            <li>Hébergement sur un an.   </li>
            </ul>
            <br>
            <ul class="list-group">  <h5 style="color: #111D5E;">==> Investissements liés à la création d’une application/d’une plateforme </h5>
                <li>Conception graphique de l’application.</li> <br>
                <li>Connecteurs entre logiciels (ex : ERP) et application/plateforme.   </li> <br>
                <li>Création d’un extranet et/ou intranet.  
                </li> <br>
                <li>Hébergement sur un an.    </li> <br>
                <li>Développement de l’application/plateforme (back-office, mobile, interface web)  </li>
  
                </ul>
                <br>
    <h2 style="color: red;font-weight: bold;">Quelles sont les particularités?</h2>
    <br>
    <h4 style="color: #111D5E;">Entreprises inéligibles</h4>
    <br>
   <p>Ne sont pas éligibles :</p>
   <br>
   <p>==> Les entreprises et établissements publics et parapublics</p><br>
   <p>==> Les professionnels du e-commerce. </p>
   <br>
   <p>==> Les professions libérales réglementées, notamment les entreprises titulaires des codes NAF/APE suivants ou exerçant une activité
    correspondant à ces codes : 4773Z, 4774Z, 4778A, 4791A et B, 4932Z, 6312Z, 6411Z, 6419Z, 6430Z à 6630Z, 6831Z à 6920Z, 7120A, 7500Z, 8411Z à
    8710 C</p> <br>

    <ul class="list-group">  <h5 style="color: #111D5E;">==> Ou les entreprises exerçant une activité correspondant à ces codes :</h5>
        <li>Vente à distance.</li> <br>
        <li>Portail internet.  </li> <br>
        <li>Commerce de produits pharmaceutiques
        </li> <br>
        <li>Commerce d’articles médicaux.    </li> <br>
        <li>Développement de l’application/plateforme (back-office, mobile, interface web)  </li> <br>
        <li>Entreprise ou activité ayant un objet immobilier, financier et/ou de gestion de fonds/prise de participation </li> <br>

        <li>Activité juridique et comptable, activité vétérinaire, activité d’enseignement et profession médicale.   </li> 
      </ul>
      <br>
      <h4 style="color: #111D5E;">Dépenses inéligibles </h4> <br>

      <ul class="list-group">  <h5 style="color: #111D5E;">Sont exclues du dispositif les dépenses suivantes : </h5><br>
        <li>Achat de matériel (serveur, ordinateur, téléphone, onduleur, disques durs, réseau internet, machines de production…), </li>
        <li>Frais de conception ou de développement d’un site Internet « vitrine » ou « plaquette »   </li> <br>
        <li>Les acquisitions financées par crédit-bail ou location financière. 
        </li> <br>
        <li>Frais liés à la publicité et aux réseaux sociaux (ex : newsletters, outil de gestion de campagnes publicitaires ou liés à la mise en place d’une
            campagne publicitaire, communication digitale).     </li> <br>
        <li>Abonnements téléphoniques  </li> <br>
        <li>Mise aux normes réglementaires (ex : logiciel de caisse).</li> <br>

        <li>Mise à jour ou ajout d’une licence supplémentaire, à un logiciel ou une application déjà utilisé au sein de l’entreprise.  </li> <br>
        <li>Développement d’un produit à commercialiser</li> <br>
        <li>Suite d'outils collaboratifs</li>
      </ul>
<br>

    <h1 class="desc_heading" style="color: #111D5E;">Montant de l'aide</h1>
    <br>
    <h2 style="color: red;font-weight: bold;">De quel type de l'aide s'agit-il?</h2>
<br>
    <p>Le soutien régional prend la forme d’une subvention. Le taux d’aide est de 50% du montant hors taxe des coûts éligibles, ces derniers devant au
        minimum atteindre 5 000 € HT</p> <br>
        <p>L’aide régionale est plafonnée à 15 000 €</p>
<br>
        <h2 style="color: red; font-weight: bold;">Quels sont les modalités de versement?</h2>
        <br>
       
        <ul class="list-group"> <h6 style="color: #111D5E;">La subvention est versée en une seule fois, sauf pour les aides supérieures à 4 000 € qui peuvent être versées en deux fois : 
        </h6>
        <li>Avance de 30% à la notification de l’aide, sur présentation d’un devis signé accepté ou d’un bon de commande signé (dérogation au
            règlement budgétaire et financier)</li> <br>
        <li>Solde sur présentation des factures certifiées et acquittées ainsi que d’une attestation de fin d’engagement des dépenses</li>
    </ul>
    <br>
   
        <h1 class="desc_heading" style="color: #111D5E;">Informations pratiques </h1>
        <br>
        <h2 style="color: red; font-weight: bold;">Quels sont les démarches à suivre?</h2>
        <br>
        <h5 style="color: #111D5E;">Auprés de quel organisme</h5>
        <br>
        <p>Le dossier de demande d'aide se fait directement en ligne sur le site de la Région Pays de la Loire avant l'engagement des dépenses.</p>
        <br>
        <p>Le bénéficiaire de l’aide dispose, pour réaliser son investissement numérique, d’un délai de 24 mois à compter de la date de notification de l’arrêté
            lui attribuant cette aide. A l’échéance de ce délai de réalisation, le bénéficiaire dispose d’un délai maximum de six mois pour fournir les pièces
            justificatives nécessaires au versement de l’aide.</p>
        <br>
        <p>Pour plus d'information : Direction Entreprises et Innovation à  <a href="" style="color: #00BFFF;"> numerique@paysdelaloire.fr</a>
        </p>
        <br>
        <h5 style="color: #111D5E;">Quel cumul possible ?</h5>
        <br>
      
        <br>
        <ul class="list-group"> <h5 style="color: #111D5E;"> Conditions pour un nouvel octroi de l'aide : 
        </h5>
        <li>Une entreprise peut solliciter une 2ème aide, dans la limite globale du plafond de 15 000 €, si les investissements prévus correspondent à
            un nouveau projet, et répondent à l’ensemble des critères d’éligibilité exposés ci-dessus,</li> <br>
        <li>Une entreprise ayant atteint le plafond d’aide de 15 000 €, ne pourra bénéficier à nouveau du dispositif qu’après 2 ans révolus (la date de
            référence étant la date du courrier accusant réception du dossier complet). </li>
    </ul>
   <br>
    <p>L’investissement projeté dans le cadre de cette nouvelle demande devra correspondre à un nouveau pas significatif dans la transition numérique.
    </p> <br>
    <h1 class="desc_heading" style="color: #111D5E;">Critères complémentaires
    </h1>
    <br>
    <h2 style="color: red; font-weight: bold;">Données supplémentaires
    </h2>
    <br>
    
    <ul class="list-group"> <h4 style="color: #111D5E;">Situation - Réglementation  </h4>
    <li>A jour des versements fiscaux et sociaux </li>
    <li>Situation financière saine </li> <br>
</ul>
<br>


    <div class="btn_post d-flex justify-content-center">
                    <button type="submit" style="text-decoration:auto ;  border: none; background: red;border-radius: 25px;color: white;padding: 5px 15px;">Testez votre éligibilité</button>
                </div>

