<style>
</style>
<br>
<br>
<div class="container" width="device-width">
    <div class="row">
    <div class="col-md-10">
    <h1 class="desc_heading" style="color: #111D5E; font-weight: bold;">Impulsion Transition Numérique </h1>
   </div>
    <div class="col-sm-2">

    </div>
    </div>
    <br>
    <h1 class="desc_heading" style="color: #111D5E;font-weight: bold;">Dispositif </h1>
    <p>Impulsion transition numérique a pour objectif d'accompagner les artisants et les commercant à mettre en place un projet de transition numérique pour développer leurs activités</p>
<br>
    <h1 style="font-weight: bold;color: #111D5E;">Conditions d'attributions</h1>
<br>
    <h2 style="color: red;font-weight: bold;">A qui s'adresse ce dispositif?</h2>
    <br>
    <h5>Entreprises éligibles</h5>
    <br>
    <p>Peuvent bénéficier de ce dispositif financier, toutes les formes des entreprises ayant au moins un établissement en Normandie inscrites au registre de commerces et des sociétés (RCS) ou au Répertoire des métiers (RM), qui répondent à la définition de la microentreprise ,
        employant moins de 10 personnes(et dont le chiffre d'affaire annuel n'exéde pas 2 M</p>
       <br>
    <ul class="list-group">  <h5>Critères d'éligibilité</h5>
        <li>les entreprises doivent remplir les conditions suivantes</li>
        <li>Avoir une situztion finznciére saine</li>
        <li>Etre à jour des obligations fiscales, sociales et de l'ensembledes réglementations qui leur sont applicables</li>
    </ul>
    <br>
    <br>
    <ul class="list-group">   <h5>Dépenses concernées</h5>
        <li> sont éligibles les dépences liées aux:</li>
        <li>Etude de faisabilité d'ingénierie</li>
        <li>Etude stratégique</li>
        <li>Préstations intellectuelles</li>
        <li>Investissements(hors investissement régliùentaires et renouvellement)</li>
    </ul>
    <br>
    <br>
    <ul class="list-group">  <h5>Quelques exemples de déponses:</h5>
        <li>Audit et diagnostic</li>
        <li>Site web, application mobile, développement ou intégration de progiciels</li>
        <li>solutions </li>
        <li>Certification, design</li>
        <li>formation</li>
        <li>Investissement matériels</li>
    </ul>
    <br>
    <h2 style="color: red;font-weight: bold;">Quelles sont les particularités?</h2>
    <br>
    <h5>Entreprises inéligibles</h5>
    <br>
    <ul class="list-group"> <h5>Sont execlus du dispositif les activités ou les structures suivantes:</h5>
        <li>les entreprises doivent remplir les conditions suivantes</li>
        <li>Avoir une situztion finznciére saine</li>
        <li>Etre à jour des obligations fiscales, sociales et de l'ensembledes réglementations qui leur sont applicables</li>
        <li>Porta ac consectetur ac</li>
        <li>Vestibulum at eros</li>
    </ul>
    <br>
    <h1 class="desc_heading" style="color: #111D5E;">Montant de l'aide</h1>
    <br>
    <h2 style="color: red;font-weight: bold;">De quel type de l'aide s'agit-il?</h2>
<br>
    <p>Peuvent bénéficier de ce dispositif financier, toutes les formes des entreprises ayant au moins un établissement en Normandie inscrites au registre de commerces et des sociétés (RCS) ou au Répertoire des métiers (RM), qui répondent à la définition de la microentreprise ,
        employant moins de 10 personnes(et dont le chiffre d'affaire annuel n'exéde pas 2 M</p>
        <p>Peuvent bénéficier de ce dispositif financier, toutes les formes des entreprises ayant au moins un établissement en Normandie inscrites au registre de commerces et des sociétés (RCS) ou au Répertoire des métiers (RM), qui répondent à la définition de la microentreprise ,
        employant moins de 10 personnes(et dont le chiffre d'affaire annuel n'exéde pas 2 M</p>
<br>
        <h2 style="color: red; font-weight: bold;">Quels sont les modalités de versement?</h2>
        <br>
        <p>Peuvent bénéficier de ce dispositif financier, toutes les formes des entreprises ayant au moins un établissement en Normandie inscrites au registre de commerces et des sociétés (RCS) ou au Répertoire des métiers (RM), qui répondent à la définition de la microentreprise ,
        employant moins de 10 personnes(et dont le chiffre d'affaire annuel n'exéde pas 2 M</p>
        <br>
        <ul class="list-group"> <h6>Dans le cas d'une prestation intellectuelle:</h6>
        <li>les entreprises doivent remplir les conditions suivantes</li>
        <li>Avoir une situztion finznciére saine</li>
        <li>Etre à jour des obligations fiscales, sociales et de l'ensembledes réglementations qui leur sont applicables</li>
    </ul>
    <br>
    <p>Peuvent bénéficier de ce dispositif financier, toutes les formes des entreprises ayant au moins un établissement en Normandie inscrites au registre de commerces et des sociétés (RCS) ou au Répertoire des métiers (RM), qui répondent à la définition de la microentreprise ,
       </p>
<br>
        <h1 class="desc_heading" style="color: #111D5E;">Informations pratiques </h1>
        <br>
        <h2 style="color: red; font-weight: bold;">Quels sont les démarches à suivre?</h2>
        <br>
        <h5>Auprés de quel organisme</h5>
        <br>
        <p>Peuvent bénéficier de ce dispositif financier, toutes les formes des entreprises ayant au moins un établissement en Normandie inscrites au registre de commerces et des sociétés (RCS) ou au Répertoire des métiers (RM), qui répondent à la définition de la microentreprise ,
        employant moins de 10 personnes(et dont le chiffre d'affaire annuel n'exéde pas 2 M</p>
        <br>
        <p>Peuvent bénéficier de ce dispositif financier, toutes les formes des entreprises ayant au moins un établissement en Normandie inscrites au registre de commerces et des sociétés (RCS) ou au Répertoire des métiers (RM), qui répondent à la définition de la microentreprise ,
        employant moins de 10 personnes(et dont le chiffre d'affaire annuel n'exéde pas 2 M</p>
        <br>
        <h5>Elément à prévoir</h5>
        <br>
        <p>Peuvent bénéficier de ce dispositif financier, toutes les formes des entreprises ayant au moins un établissement en Normandie inscrites au registre de commerces et des sociétés (RCS) ou au Répertoire des métiers (RM), qui répondent à la définition de la microentreprise ,
        employant moins de 10 personnes(et dont le chiffre d'affaire annuel n'exéde pas 2 M</p>
        <br>
        <p>Peuvent bénéficier de ce dispositif financier, toutes les formes des entreprises ayant au moins un établissement en Normandie inscrites au registre de commerces et des sociétés (RCS) ou au Répertoire des métiers (RM), qui répondent à la définition de la microentreprise ,
        employant moins de 10 personnes(et dont le chiffre d'affaire annuel n'exéde pas 2 M</p>
        <br>
        <p>Peuvent bénéficier de ce dispositif financier, toutes les formes des entreprises ayant au moins un établissement en Normandie inscrites au registre de commerces et des sociétés (RCS) ou au Répertoire des métiers (RM), qui répondent à la définition de la microentreprise ,
        employant moins de 10 personnes(et dont le chiffre d'affaire annuel n'exéde pas 2 M</p>
        <br>
        <h4 style="color: red;font-weight: bold;">Quel cumul possible?</h4>
        <br>
        <p>Peuvent bénéficier de ce dispositif financier, toutes les formes des entreprises ayant au moins un établissement en Normandie inscrites au registre de commerces et des sociétés (RCS) ou au Répertoire des métiers (RM), qui répondent à la définition de la microentreprise ,
       </p>
        <br>
        <h4 class="desc_heading" style="color: #111D5E;">Critéres complémentaires</h4>
        <br>
        <h4 style="color: red;font-weight: bold;">Forme juridique</h4>
        <br>
        <p>Peuvent bénéficier de ce dispositif financier, toutes les formes des entreprises ayant au moins un établissement en Normandie inscrites au registre de commerces et des sociétés (RCS) ou au Répertoire des métiers (RM), qui répondent à la définition de la microentreprise ,
      </p>
        <br>
        <h4 style="color: red;font-weight: bold;">Données supplémentaires</h4>
        <br>
        <ul class="list-group"> <h5> ==> Situation-Réglementation</h5>
        <li>les entreprises doivent remplir les conditions suivantes</li>
        <li>Avoir une situztion finznciére saine</li>
        <li>Etre à jour des obligations fiscales, sociales et de l'ensembledes réglementations qui leur sont applicables</li>
    </ul>
    <br>
    <ul class="list-group"> <h5> ==> Lieu d'immarticulation</h5>
        <li>les entreprises doivent remplir les conditions suivantes</li>
        <li>Avoir une situztion finznciére saine</li>
    </ul>
    <br>
    <ul class="list-group"> <h5>==>Aide soumise au règlement</h5>
        <li>les entreprises doivent remplir les conditions suivantes</li>
    </ul>
    <br>
    <br>
    <div class="btn_post d-flex justify-content-center">
                    <button type="submit" style="text-decoration:auto ;  border: none; background: red;border-radius: 25px;color: white;padding: 5px 15px;">Testez votre éligibilité</button>
                </div>